@model ClienteModel

<div class="row">
    <dt>
        @Html.DisplayNameFor(model => model.id_cliente)
    </dt>
    <dt>
        @Html.DisplayFor(model => model.id_cliente)
    </dt>
    <dt>
        @Html.DisplayNameFor(model => model.nm_cliente)
    </dt>
    <dt>
        @Html.DisplayFor(model => model.nm_cliente)
    </dt>
</div>